.canvas {
    margin: 0 auto;
    display: grid;
    max-width: 90vw;
    min-height: calc(100vh - 72px);
    grid-template-columns: repeat(2, 1fr) 300px;
    grid-template-rows: 50px repeat(3, 1fr);
    grid-gap: 14px 20px;
    grid-template-areas:
      "filter-left filter-center filter-right"
      "sidebar-left sidebar-center sidebar-right"
      "midbar-left midbar-center main"
      "bar-left bar-center main";
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.title {
  font-size: 18px;
  text-align: center;
}

.canvas__text-conclusions {
  font-size: 16px;
  text-align: justify;
  padding: 10px;
}

.canvas__filter1, .canvas__filter2, .canvas__filter3{
  height: 35px;
  text-align: center;
}

.canvas__item {
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    border-radius: 14px;
    border: 1px solid #0000007b;
}

.canvas__filter1 {
    grid-area: filter-left;
}

.canvas__filter2 {
    grid-area: filter-center;
}

.canvas__filter3 {
    grid-area: filter-right;
}

.canvas__graph-left {
    grid-area: sidebar-left;
}

.canvas__graph-center {
    grid-area: sidebar-center;
}

.canvas__graph-right {
    grid-area: sidebar-right;
}

.canvas__midgraph-left {
    grid-area: midbar-left;
}

.canvas__midgraph-center {
    grid-area: midbar-center;
}

.canvas__text {
    grid-area: main;
}

.canvas__bottm-left {
    grid-area: bar-left;
}

.canvas__bottm-center {
    grid-area: bar-center;
}