.content{
  max-width: 880px;
  margin: 0 auto;
}

.content__subtitle, .charts-section__title {
  font-size: 40px;
  font-weight: 700;
  margin-top: 20px;
}

.content__paragraph, .upload-section__text {
  font-size: 20px;
  text-align: justify;
}

.upload-section{
  display: flex;
  flex-direction: row;
}

.upload-section__file {
  align-self: center;
  margin-left: 20px;
  cursor: pointer;
  border: none;
  border-radius: 20px;
}

.upload-section__btn {
  width: 150px;
  height: 60px;
  align-self: center;
  margin-left: 20px;
  cursor: pointer;
  background-color: #ff9506;
  font-size: 18px;
  font-weight: 500;
  color: azure;
  border: none;
  border-radius: 20px;
  transition: .3s linear;
}

.upload-section__btn:hover {
  opacity: 60%;
  background-color: #3c00ff;
}

.charts-section__canvas {
  max-width: 100%;
}