.header {
  max-width: 1000px;
  margin: 0 auto;
  padding-top: 45px;
  border-bottom: 1px solid #545454;
  display: flex;
  justify-content: center;
}

.header__title {
  font-size: 48px;
  font-weight: 700;
  -webkit-text-stroke: 1px #ff9506;
}