@media screen and (max-width: 928px) and (min-width: 768px) {
  .header,
  .content,
  .footer {
    max-width: 581px;
    max-height: 100%;
  }
}

@media screen and (max-width: 768px) {
  .header, .content,
  .footer {
    max-width: 100%;
    padding: 20px;
  }

  .header__title {
    font-size: 37px;
    font-weight: 500;
    -webkit-text-stroke: 0.5px #ff9506;
    text-align: center;
  }

  .content__subtitle, .charts-section__title {
    font-size: 33px;
    font-weight: 500;
    margin-top: 20px;
  }

  .content__paragraph, .upload-section__text {
    font-size: 16px;
  }

  .upload-section__btn {
    width: 130px;
    height: 60px;
    font-size: 14px;
  }
}
