body {
    background-color: #bab0b0;
  }

  .page {
    min-width: 320px;
    max-width: 100vw;
    font-family: "Inter", Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #fff;
    background-color: #bab0b0;
  }

  * {
    box-sizing: border-box;
  }